@import "@/styles/size";
@import "@/styles/mixin";

.homeMainContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: $homeMain-height !important;
}

.homeContent {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.65), var(--blackColor200));
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeText {
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  padding: 0 20px;
  @include md {
    padding: 0 50px;
  }
}

.homeTitle {
  color: var(--whiteColor200);
  font-weight: var(--font-semibold);
  font-size: var(--text-xxl);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  @include sm {
    font-weight: var(--font-bold);
    font-size: var(--text-xxl);
  }
  @include md {
    font-weight: var(--font-bold);
    font-size: var(--text-xxxl);
  }
}

.homeWord {
  color: var(--whiteColor300);
  font-weight: var(--font-light);
  font-size: var(--text-xl);
  margin-bottom: 15px;
}

.buttonsContainer {
  position: relative;
  padding-top: 30px;
  min-height: 60px;
}

.homeButtons {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 7px;
  :last-child {
    left: 170px;
  }
}
.homeButton {
  position: absolute;
}

.homeOverview {
  color: var(--whiteColor200);
  font-size: var(--text-sm);
  line-height: 1.5;
  opacity: 0.8;
  font-weight: var(--font-normal);
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  @include md {
    font-size: var(--text-md);
  }
}
