@import "../../styles/mixin";

.moviesHeader {
  z-index: 5;
  width: 100%;
  max-width: 2000px;
  position: relative;
  display: grid;
}

.moviesInnerHeader {
  position: fixed;
  border: 1px solid red;
  width: 100%;

  display: flex;
  flex-direction: row;
  //   justify-content: space-between;
  //   align-items: center;
}

.moviesTitle {
  color: var(--whiteColor200);
  font-weight: var(--font-semibold);
  font-size: var(--text-xxl);
  @include sm {
    font-weight: var(--font-bold);
    font-size: var(--text-xxl);
  }
  @include md {
    font-weight: var(--font-bold);
    font-size: var(--text-xxxl);
  }
}
