@import "../../styles/mixin";

.loadMoreContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 23px;
  margin-top: 100px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 190px;
}

.loadMoreItem {
  margin-bottom: 30px;
}
