@import "@/styles/mixin";

.homeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  @include xxl {
    margin-top: -100px;
  }
}

.homeListContainer {
  max-width: 2000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 0px 10px 20px;
  @include md {
    padding: 0px 40px 20px;
  }
}

.homeListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  z-index: 100;

  @include xxl {
    padding-right: 30px;
  }
}

.homeListTitle {
  font-weight: var(--font-bold);
  color: var(--whiteColor300);
  white-space: nowrap;
  font-size: var(--text-lg);
  @include md {
    font-weight: var(--font-bold);
    font-size: var(--text-xl);
  }
}
