@import "@/styles/mixin";

.editWatchlist {
  button {
    height: 45px;
  }
}

.editWatchlistContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.editWatchlistCount {
  color: var(--whiteColor300);
  font-size: var(--text-md);
  margin-right: 0;

  @include md {
    margin-right: 25px;
  }
}
