@import "@/styles/size";
@import "@/styles/mixin";

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: rgb(20, 20, 20, 0.8);
  width: 100vw;
  min-height: $navbar-height;
  top: 0;
  padding: 16px 25px 16px 16px;
  z-index: 999;
  backdrop-filter: blur(20px);
}

.navContainer {
  max-width: 2000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.logoItem {
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  transition: transform 0.2s;
  svg {
    width: 150px;
    height: 30px;
  }
  &:hover {
    transform: scale(1.1);
  }
  @include md {
    margin-right: 56px;
  }
}
