.toastContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;

  svg {
    height: 20px;
    width: 20px;
    color: var(--whiteColor200);
    stroke-width: 3;
  }
}

.toastContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toastTitle {
  color: var(--whiteColor200);
  opacity: 0.7;
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.toastSubtitle {
  color: var(--whiteColor200);
  font-size: var(--text-lg);
  font-weight: var(--font-light);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
}
