.searchResultContent {
  display: grid;
  grid-template-columns: 3fr 7fr;
  column-gap: 20px;
}

.searchResultNames {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

.searchResultCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}
