@import "@/styles/mixin";

.detailRecomContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailRecomContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 2000px;
  padding: 0 20px 50px;
  margin-top: -5%;

  hr {
    border: 0.5px solid var(--whiteColor400);
    margin: 10px 0 20px;
  }
  @include md {
    margin-top: 0;
    padding: 0 50px 30px;
  }
}

.detailRecomTitle {
  color: var(--whiteColor300);
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  @include md {
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
  }
}

.detailRecomContent {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: center;

  a {
    margin-bottom: 40px;
  }
  @include md {
    justify-content: flex-start;
  }
}
