@import "@/styles/mixin";

.detailRecomContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 20px 30px;
  margin-top: -370px;
  hr {
    border: 0.5px solid var(--whiteColor400);
    margin: 10px 0 20px;
  }
  @include md {
    padding: 0 60px 30px;
    margin-top: -250px;
  }
}

.detailRecomTitle {
  color: var(--whiteColor300);
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  @include md {
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
  }
}

.detailRecomContent {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: center;
  div {
    margin-bottom: 23px;
  }
  @include md {
    justify-content: flex-start;
  }
}
