:root {
  --primaryColor100: #ff601c;

  --whiteColor100: #ffffff;
  --whiteColor200: #eaf6ff;
  --whiteColor300: #f1dac4;
  --whiteColor400: #737373;

  --blackColor100: #000000;
  --blackColor150: #020202;
  --blackColor200: #0d0d0d;
  --blackColor300: #151515;
  --blackColor400: #141414;
  --blackColor500: #3c3c3c;
}
