@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--blackColor100);
}

::-webkit-scrollbar-thumb {
  background: var(--whiteColor300);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
